body {
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-nav-menu {
    margin: 0 auto;
    padding: 4px 80px;
}

.top-nav-menu li {
    display: inline-block;
    margin-bottom: 0;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
}

.top-nav-menu li a {
    color: #fff;
}


/*search*/

.expandSearch {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
}

.expandSearch i {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 4px 8px 8px;
    color: #222;
    cursor: pointer;
    user-select: none;
    transition: 0.24s;
}

.expandSearch i:hover {
    color: #0bf;
}

.expandSearch input {
    border: none;
    background: transparent;
    font: 14px/1.4 sans-serif;
    padding-left: 26px;
    background: #fff;
    border-radius: 20px;
    transition: 0.4s;
    width: 0px;
    padding: 8px 0px 8px 34px;
}

.expandSearch input:focus {
    border: 1px solid #9f0a2c;
    outline: none;
    width: 200px;
    padding: 8px 12px 8px 34px;
}

.expandSearch input:focus+i {
    /*padding: 8px 4px 8px 8px ;*/
    color: #9f0a2c;
    pointer-events: none;
}

.navbar-brand {
    min-width: 5em;
}

.nav-wrapper .navbar {
    padding-bottom: 0px;
    padding-top: 0px;
}

.nav-wrapper .nav-item .nav-link {
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: .02em;
    color: rgb(5, 105, 148);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.navbar-nav .active {
    color: #9f0a2c;
}


/*.nav-wrapper .nav-item .nav-link:hover{
    border-bottom: 2px solid #555;
}*/

.nav-wrapper .navbar-brand {
    font-family: 'Open Sans', sans-serif;
}

.navbar-light .navbar-toggler {
    border: none;
}


/*dropdown*/

.header-menu .navbar-nav .dropdown-menu {
    background-color: #fff;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: none;
    padding: 0!important;
    transition: all 0.3s ease;
    margin: 0;
    border-radius: 0;
}

.dropdown-menu .dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.dropdown-menu a:hover {
    background-color: #ef5123;
    color: #fff;
    transition: all 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ef5123;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none;
    color: #ef5123;
}

.dropdown:hover .dropdown-menu {
    transition: all 0.3s ease;
    display: block;
}


/*navbar sticky*/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 333;
    background: #fff;
    transition: all 0.2s ease;
}

.header-menu.sticky .top-nav {
    display: none!important;
}

.bannerbg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    border: none;
    position: relative;
}

.banner-img-text {
    position: absolute;
    max-width: 30em;
    opacity: .8;
    background: #056994;
    border-radius: 5px;
    right: 0;
    top: 20vh;
    /*top: 50%;
    transform: translate(50%, 50%);*/
}

.banner-img-text h1 {
    font-size: 40px;
    padding: 30px;
    line-height: 1.2;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif
}

.overlay {
    position: relative;
}

.overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: #222;
    content: "";
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.3s ease;
}


/*notice & news*/

.notice-section {
    background: #f8f9fa;
    padding: 3em 0;
}

.site-section {
    padding: 3em 0 0 0;
}

.gallery-section {
    padding: 3em 0;
}

.notice-card,
.news-card,
.search-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background: #fff;
}

.notice-heading>h3,
.news-heading>h3 {
    background-color: #056994;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    padding: 5px 15px;
    max-width: 5em;
}

.notice-content .single-notice,
.single-news {
    font-family: 'Open Sans', sans-serif;
}


/*.notice-content .single-notice h6,.single-news h6{
    margin-bottom: 0;
}*/

.notice-content .single-notice h6>a,
.single-news h6>a {
    clear: both;
    font-size: 16px;
    color: #555;
    margin-bottom: 0;
    line-height: normal;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.notice-content .single-notice h6>a:hover,
.single-news h6>a:hover {
    color: #EA3433;
}

.notice-content .single-notice .notice-date {
    font-size: 14px;
    color: #8c8a8a;
    /* display: inline-block;*/
    font-weight: bold;
}

.notice-content .post-info .news-date {
    font-size: 14px;
    color: #8c8a8a;
    font-weight: bold;
}

.notice-content .single-news {
    margin-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}

.notice-content .single-news:last-child {
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.notice-content .post-img {
    float: left;
    width: 80px;
    margin-right: 10px;
}

.notice-content .post-img img {
    width: 80px;
    height: 65px;
    object-fit: cover;
}

.v-more {
    text-align: right;
}

.v-more button {
    color: #EA3433;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

.v-more button i {
    margin-left: 5px;
}


/*programs*/

.section-tittle h2 {
    color: #ef5123;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 1em;
    padding-left: 10px;
    border-left: 5px solid #056994;
}

.single-block {
    position: relative;
    margin-right: 5px;
}

.single-block img {
    height: 10em;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.g-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(143, 153, 178, .6)0%, rgba(47, 51, 90, 0.49) 50%, rgba(19, 26, 74, 0.62)100%);
    content: "";
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 5px;
}

.single-block .programme-name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.programs-list .single-block .programme-name>a,
.programs-shas .single-block .programme-name>a {
    font-family: "open sans", sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 20px;
    display: block;
    text-decoration: none;
    padding: 15px;
}

.programs-list .single-block .programme-name>a:hover,
.programs-shas .single-block .programme-name>a:hover {
    color: #EA3433;
    transition: .3s all ease;
}


/*event*/

.event-content {
    font-family: 'open sans', sans-serif;
    margin-bottom: 10px;
}

.event-content .card-title a {
    color: #222;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.event-content .card-title a:hover {
    color: #339;
}

.event-content .card img {
    height: 200px;
    object-fit: cover;
    transition: .3s all ease;
}

.event-content .card {
    overflow: hidden;
}

.event-content .card:hover img {
    transform: scale(1.03);
    transition: .3s all ease;
}

.event-date span {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #e6e6e6;
    font-weight: 500;
    display: inline-block;
    font-size: 15px;
}

.album-date {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 15px;
    color: #9f0a2c;
}

.event-date span i {
    margin-right: 5px;
}

.more-btn {}

.event-date span:last-child {
    margin: 0;
    padding: 0;
    border: none;
}


/*=============================
    Fun Facts CSS
===============================*/

.fun-facts {
    background: linear-gradient(rgba(5, 105, 148, 0.75), rgb(5, 105, 148)), url(/images/collegestudent.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 2em;
    margin: 3em 0 0 0;
}


/*.fun-facts::before {
    opacity: 0.9;
}*/

.fun-facts .single-fact {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.fun-facts .single-fact:hover {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
}

.fun-facts .single-fact img {
    color: #fff;
    margin-bottom: 30px;
}

.fun-facts .single-fact .number {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    position: relative;
    display: block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.fun-facts .single-fact p {
    color: #eee;
    font-size: 18px;
}


/*=============================
    End Fun Facts CSS
===============================*/


/*gallery images*/

.gallery-img-div {
    overflow: hidden;
}

.gallery-img {
    min-height: 200px;
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: .3s all ease;
}

.gallery-img-div:hover .gallery-img {
    transform: scale(1.03);
    transition: .3s all ease;
}

.gallery-img-div:hover .overlay {}


/*footer*/

.site-footer {
    background: #056994;
    padding: 3em 0 1em;
    color: #fff;
    font-family: 'open sans', sans-serif;
}

.footer-heading {
    font-family: 'Poppins', sans-serif;
}

.site-footer ul {
    padding-left: 0;
    list-style: none;
}

.site-footer ul li {
    margin-bottom: 10px;
}

.site-footer a {
    color: #fff;
    text-decoration: none;
    transition: all .2s ease;
}

.site-footer a:hover {
    transition: all .2s ease;
    color: #fff;
}

.footer-contact-info ul {
    padding: 0;
    list-style-type: none;
}

.footer-contact-info li {
    margin-bottom: 2em;
}

.footer-contact-info h6 {
    font-size: 16px;
    margin-bottom: 0;
}

.footer-contact-info .info-text {
    padding-left: 50px;
}

.footer-circle-icon {
    font-size: 30px;
    color: #aaa;
    position: absolute;
}

.copyright {
    border-top: 1px solid #4d4c4c;
}


/*About page*/

.about-bg {
    background: linear-gradient(rgba(5, 105, 148, 0.54), rgba(5, 105, 148, 0.75)), url(/images/banner.jpg) no-repeat center;
    background-size: cover;
}

.library-img {
    max-width: 65vh;
    margin-left: 15px;
    float: right;
    object-fit: cover;
}

.about-banner {
    margin: 3em 0;
}

.about-banner h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    padding: 45px 0px;
    font-family: 'Poppins', sans-serif;
}

.breadcrumb-wrapper .breadcrumb {
    background-color: transparent;
}

.about-desc-title h3,
.students-desc-title h3,
.gallery-archive h3 {
    font-family: 'Poppins', sans-serif;
}

.about-desc h4 {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

.about-desc p,
.gallery-archive p,
.journals-archive {
    font-family: 'open sans', sans-serif;
    text-align: justify;
    color: #222;
    line-height: 1.7;
    font-size: 16px;
}

.vision-bg {
    background: #f8f9fa;
    padding: 2em 0;
    margin-top: 3em;
}

.vision-desc h5 {
    font-family: 'Poppins', sans-serif;
}

.vision-desc p {
    font-family: 'open sans', sans-serif;
    color: #666666;
    line-height: 1.7;
    font-size: 16px;
}


/*contact page*/

.contact-info ul {
    padding: 0;
    list-style-type: none;
}

.contact-info li {
    color: #222;
    margin-bottom: 1em;
    border-bottom: 1px solid #eee;
}

.contact-info li:last-child {
    border-bottom: none;
}

.contact-info h5 {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.contact-info p {
    font-weight: 500;
    font-family: 'open sans', sans-serif;
}

.contact-info .info-text {
    display: inline-block;
    position: relative;
    margin-left: 80px;
}

.contact-info .info-text a {
    color: #000;
}

.contact-circle-icon {
    background: #f3f1f1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 15px;
    font-size: 20px;
    color: #222;
    position: absolute;
}

.round-border .form-control {
    border-radius: 0;
}

.contact-info-block {
    padding: .5em 0 2em 0;
}

.g-map {
    padding: 0;
    margin-top: 4em;
}

.contact-info-wrapper {
    padding: 1em;
}

.contact-social-icon {
    padding-left: 0!important;
    display: inline-block;
}

.contact-social-icon li {
    display: inline-block;
}

.contact-social-icon li a {
    color: #1a9bdc;
    text-align: center;
    padding: 20px;
    line-height: 24px;
    font-size: 20px;
}


/*alumni*/

.single-alumni-card .card img {
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    transition: .3s all ease;
}

.single-alumni-card .card {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    transition: .3s all ease;
}

.single-alumni-card a {
    color: #222;
}

.mt-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mr-top {
    margin-top: 30px;
}

.single-alumni-card:hover .card img {
    transform: scale(1.03);
    transition: .3s all ease;
}

.alumni-association img,
.gallery-archive-img img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    margin-bottom: 10px;
}


/*member*/

.single-member .card img {
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    transition: .3s all ease;
}

.single-member .card {
    overflow: hidden;
    transition: .3s all ease;
    border: 0;
    box-shadow: 0px 0px 5px 3px #ccc;
}

.single-member .card h5 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 16px;
}

.single-member .card p {
    font-family: 'open sans', sans-serif;
}

.single-member:hover .card img {
    transform: scale(1.03);
    transition: .3s all ease;
}

.btn-more {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.2em;
    letter-spacing: 0;
    font-size: 1rem;
    padding: 0.6em 1em;
    background: #9f0a2c;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    transition: .3s all ease;
}

.btn-more:hover {
    background: #000;
    color: #fff;
    transition: .3s all ease;
}

.custom-select1 {
    font-family: 'Poppins', sans-serif;
    max-width: 20em;
    display: inline-block;
}


/*alumni profile(single)*/

.alumni-profile img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 350px;
}

.alumni-social li {
    display: inline-block;
    margin-right: 10px;
}

.alumni-profile-details .card {
    border: 0;
}

.alumni-profile-details h4,
.alumini-profile-details h5 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
}

.alumni-profile-details p {
    font-family: 'open sans', sans-serif;
    margin-bottom: 5px;
    line-height: 1.7;
}


/*Member-details*/

.member-profile img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.member-social {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
}

.member-social li {
    display: inline-block;
    margin-right: 10px;
}

.member-profile-details .card {
    border: 0;
}

.member-profile-details h4,
.alumini-profile-details h5 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
}

.member-profile-details p {
    font-family: 'open sans', sans-serif;
    margin-bottom: 5px;
    line-height: 1.7;
}

.member-profile-details .field {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

.member-profile-details .profession {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}


/*pagination*/

.pagination-wrapper li {
    margin: 0 5px;
}

.pagination-wrapper li .page-link {
    font-family: 'Poppins', sans-serif;
    color: #9f0a2c;
}

.pagination-wrapper .page-item.active .page-link {
    color: #fff;
    background-color: #9f0a2c;
    border-color: #9f0a2c;
}


/*==================
    events details
  ==================*/

.event-details-wrapper {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.event-details h2 {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin-top: 15px;
}

.event-details p {
    font-family: 'open sans', sans-serif;
    color: #222;
    line-height: 1.7;
    font-size: 16px;
    text-align: justify;
}

.share-social ul,
.c-social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.share-social li,
.c-social li {
    display: inline-block;
    margin-bottom: 10px;
    padding-right: 10px;
    transition: .3s all ease;
}

.share-social li a:hover img {
    transform: translateY(-4px);
    transition: .3s all ease;
}

.c-social a {
    color: #555;
}


/*accordion*/

.accordion button {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 17px;
}

.accordion p {
    font-family: 'open sans', sans-serif;
    line-height: 1.6;
}


/*downloads*/

.dl-title p {
    font-family: 'Poppins', sans-serif;
    color: #222;
    font-weight: 500;
    margin-bottom: .1em;
}


/*journals*/

.dl-title i,
.pdf-icon {
    color: #f52727
}

.pdf-tag,
.posttype-tag {
    position: absolute;
    display: inline-block;
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
    top: 20px;
    right: 15px;
}

.jounrals-list-text ul li {
    list-style: none;
    position: relative;
    color: #222;
    font-size: 16px;
    font-family: 'open sans', sans-serif;
    padding-left: 17px;
    line-height: 1.6;
}

.jounrals-list-text ul li:before {
    position: absolute;
    content: '';
    left: 0;
    top: 10px;
    height: 7px;
    width: 7px;
    background: #9f0a2c;
}

.journals-archive a {
    font-family: 'Poppins', sans-serif;
    color: #EA3433;
}

.journals-archive {
    border-bottom: 1px solid #EA3433;
    margin-bottom: 15px;
}

.j-date {
    font-size: 14px;
}

.journals-archive:last-child {
    border-bottom: none;
}


/*form register*/

.form-register {
    color: #222;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border: 0;
}

.form-register h3 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.custom-file-label::after {
    color: #fff;
    background-color: #9f0a2c;
}

.custom-file {
    max-width: 300px;
    overflow: hidden;
}

.req-star {
    color: red;
}


/*students*/

.students-desc h5 {
    font-family: 'Poppins', sans-serif;
}

.students-desc p {
    font-family: 'open sans', sans-serif;
    text-align: justify;
    color: #222;
    line-height: 1.7;
    font-size: 16px;
}

.campus-life img {
    height: 45vh;
    object-fit: cover;
    width: 100%;
    margin-bottom: 10px;
}


/*testimonials*/

.card-testimonials p {
    font-family: 'open sans', sans-serif;
    color: #555;
    font-size: 16px;
    line-height: 1.7;
    transition: all .3s ease;
}

.alumni-info-wrapper {
    position: relative;
}

.alumni-img-box img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.alumni-info {
    position: absolute;
    left: 90px;
    top: 0;
}

.alumni-info .name {
    font-family: 'Poppins', sans-serif;
    color: #EA3433;
    font-size: 16px;
    font-weight: 600;
}

.alumni-info .details {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 15px;
    font-style: italic;
}

.alumni-info .email a {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 15px;
    word-break: break-all;
}

.alumni-bio {
    font-size: 14px;
    font-style: italic;
    font-family: 'open sans', sans-serif;
}


/*.card-testimonials .card:hover{background: #222;transition: all .3s ease;}
.card-testimonials .card:hover p{color: #fff;}
.card-testimonials .card:hover .details{color: #fff;}*/


/*error area*/

.error-area {
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.error-area h1 {
    font-size: 10em;
    font-weight: bold;
    color: #9f0a2c;
}

.error-area h2 {
    font-size: 3rem;
}

.error-area img {
    height: 65vh;
}


/*slick*/

.slick-prev:before,
.slick-next:before {
    font-size: 25px!important;
    color: #000!important;
}


/*album*/

.album-text h5 {
    color: #9f0a2c;
    font-family: 'Poppins', sans-serif;
}


/*lightbox*/

.lb-data .lb-caption {
    font-size: 17px!important;
}


/*search-page*/

.search-card a {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.search-card .date {
    color: #EA3433;
    font-family: 'open sans', sans-serif;
}


/*entrance form view*/

.entrance-top-div {
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
}

.submitted-date {
    font-weight: normal;
}

.entrance-details-view {
    color: #111;
    font-family: 'Poppins', sans-serif;
}

.entrance-student-details h4 {
    text-transform: capitalize;
    border-bottom: 1px solid #666;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

.entrance-student-details {
    font-size: 15px;
    word-break: break-all;
}

.input-error {
    color: #e74c3c;
    font-style: italic;
    font-size: .9em;
    display: none;
}

.entrance-upload-img img {
    max-height: 100px;
}

.voucher-img img {
    max-width: 10em;
    max-height: 10em;
}


/*media query*/


/*Medium devices (tablets, 768px and up)
*/

@media (min-width: 768px) and (max-width: 992px) {
    .gallery-img-div {
        margin-bottom: 30px
    }
    .campus-life img,
    .alumni-association img {
        height: 25vh;
    }
    .site-section {
        padding: 1em 0 0 0;
    }
    .vision-bg {
        margin-top: 0em;
    }
    .library-img {
        max-width: 100%;
    }
    .navbar-brand {
        max-width: 12em;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        max-width: 9em;
    }
}


/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 576px) {
    .navbar-brand {
        max-width: 9em;
    }
    .news-card {
        margin-top: 20px;
    }
    .banner-img-text {
        opacity: .7;
        top: 60vh;
        max-width: 100%;
    }
    .banner-img-text h1 {
        font-size: 25px;
        padding: 20px
    }
    .site-section {
        padding: 1em 0 0 0;
    }
    .programs-list .single-block {
        margin-bottom: 16px;
    }
    .section-tittle h2 {
        margin-bottom: .5rem;
    }
    .fun-facts {
        margin: 1em 0 0 0;
    }
    .gallery-section,
    .notice-section {
        padding: 1em 0;
    }
    .no-gutters {
        padding-left: 15px;
        padding-right: 15px;
    }
    .gallery-img-div {
        margin-bottom: 10px
    }
    .library-img {
        max-width: 100%;
    }
    .mt-30 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .vision-bg {
        margin-top: 0em;
    }
    .about-banner h2 {
        font-size: 30px;
        padding: 10px 0px;
    }
    .dropdown-item {
        white-space: normal;
    }
    .event-content {
        margin-bottom: 10px;
    }
    .slick-prev:before,
    .slick-next:before {
        display: none;
    }
    .slick-next {
        right: 0!important;
    }
    .error-area h1 {
        font-size: 5em;
    }
    .single-member .card img {
        height: auto;
    }
    .voucher-img img {
        max-width: 9em;
    }
}

@media (max-width: 375px) {
    .input-container button {
        width: 100%;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }
    .file-info {
        display: block;
        margin: 10px 5px;
    }
    .alumni-info {
        left: 75px;
    }
    .alumni-info .name,
    .alumni-info .details {
        font-size: 14px;
    }
    .alumni-bio {
        margin-top: 1rem;
    }
    .alumni-info .email a {
        font-size: 14px;
        word-break: break-all;
    }
}

@media print {
    .dv-hide-print {
        display: none!important;
    }
    .breadcrumb-wrapper,
    .about-banner,
    .site-footer,
    .print-btn {
        display: none;
    }
    .entrance-details-view {
        margin-top: 5px;
        padding: 20px;
    }
}

a.overlay-top {
    color: white;
}

a {
    color: #055994;
}

.textwidget.custom-html-widget h4 {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    padding-bottom: 12px !important;
}

.widget-title h4 {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    padding-bottom: 12px !important;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.students-desc-title h3 {
    color: #ef5123;
    font-weight: 600;
    border-left: 5px solid #055994;
    padding-left: 10px;
}

.students-desc-title {
    margin-bottom: 25px;
}

.top-nav.d-none.d-lg-block {
    background-color: #056994;
}

@media (max-width: 1024px) {
    .nav-wrapper .nav-item .nav-link {
        padding: 10px 16px;
    }
}