/*
Theme Name: NTPL Theme

Author: Nepgeeks Technologies

Version: 1.0
License: GNU General Public License

-------------------------------------------------------------- */


/* Reset
-------------------------------------------------------------- */

.container12 .notice-content {
    padding-left: 10px;
}

.member-profile-details .card-body {
    box-shadow: 0px 0px 5px 3px #ccc;
}

.banner-img-text {
    top: 20vh !important;
}


/*.single-member .card img {
    height: 388px;
    }*/

.single-member .card img {
    object-position: 0% 0%;
    height: 270px;
}

.hideme {
    display: none;
}

.showme {
    display: block !important;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 30px;
}

.site-footer .nav-link {
    display: block;
    padding: 0rem 0rem !important;
}

ol.breadcrumb {
    padding: 20px 0px 4px;
}

.slick-slide>div {
    margin-left: 5px;
}

.alignright {
    max-width: 65vh;
    margin-left: 15px;
    float: right;
    object-fit: cover;
}

.about-desc.rmc {
    margin-top: 35px;
}

button.btn.btn-more.mt-2 {
    background: #f26f21;
}

.alignleft {
    max-width: 65vh;
    float: left;
    object-fit: cover;
    margin-right: 15px;
}

.wp-caption-text {
    font-size: 10px !important;
    color: #339 !important;
}

#menu-header-menu li.current-menu-item {
    color: #333399 !important;
}

.about-desc-title a {
    letter-spacing: .02em;
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

a.navbar-brand img {
    margin-left: 26px;
}

a.navbar-brand {
    width: 24%;
}

.card {
    margin-bottom: 20px !important;
}

.contact-circle-icon {
    line-height: 20px !important;
}

.students-desc25 {
    text-align: center;
}

.nav-link {
    padding: 0;
}

.card-body {
    padding: 14px 14px;
}

.pagination-wrapper .page-numbers {
    position: relative;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #9f0a2c;
    background-color: #fff;
}

.pagination-wrapper .current {
    color: #fff;
    background-color: #9f0a2c;
    border-color: #9f0a2c;
}

.widget-title {
    color: #fff !important;
}

.alumni-info .email a {
    font-size: 12px !important;
}

.about-banner h2 {
    padding: 0px 0px 0px 0px !important;
}

body.page-id-812 p.about-banner-desc {
    color: #fff !important;
}

.form-control[readonly] {
    background-color: transparent !important;
    /*opacity: 1;*/
}

#journal-custom-archive {}

h1 {
    margin-left: 15px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    #journal-custom-archive .brand-pills>li>a {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    #journal-custom-archive li.brand-nav.active a:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 9px solid #428bca;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        left: 100%;
        z-index: 2;
    }
}


/*journal Page style*/

#sidebar h3 {
    font-family: 'Poppins', sans-serif;
}

#sidebar ul.components {
    list-style: none;
    padding: 0;
    background: #002A5C;
    font-family: 'Poppins', sans-serif;
}

#sidebar ul.components .active {
    background: #9f0a2c;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    border-bottom: 1px solid #666;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #9f0a2c;
}

.sidebar-content p {
    font-family: 'open sans', sans-serif;
}

#sidebar .current-menu-item {
    background: #9f0a2c!important;
}


/*journal Page style ends*/

.footer-contact-info .info-text {
    padding-left: 35px !important;
}

i.fa.fa-phone {
    font-size: 30px;
    color: #fff;
    position: absolute;
}

i.fa.fa-map-marker {
    font-size: 30px;
    color: #fff;
    position: absolute;
}

i.fa.fa-envelope {
    font-size: 23px;
    color: #fff;
    position: absolute;
}

td.process img {
    width: 50% !important;
}

td.process {
    width: 24% !important;
}

.container.card {
    background-color: white;
    width: 100%;
}

.content-wrapper {
    background-color: #ecf0f5;
    z-index: 800;
}

input#image {
    margin: 10px;
}

.col-12.col-md-9.process img {
    width: 16%;
}

.flat-reviews .flat-causes .item .text {
    font-family: "Josefin Sans", sans-serif !important;
    font-size: 16px !important;
    margin-bottom: 23px !important;
    margin-top: 38px !important;
}

.rcorners img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

button.slick-prev.slick-arrow {
    display: none !important;
}

button.slick-next.slick-arrow {
    display: none !important;
}

.member-profile-details.mb-4 .card.shadow {
    height: 340px;
}

.topheading {
    padding: 4px 0px;
}

@media only screen and (max-width: 1024px) {
    .member-profile-details.mb-4 .card.shadow {
        height: 284px;
    }
    .nav-wrapper .nav-item .nav-link {
        padding: 10px 8px;
    }
    a.navbar-brand img {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width: 768px) {
    a.navbar-brand img {
        margin-left: 0px;
        min-width: 250px;
    }
    a.navbar-brand {
        width: 100%;
    }
    .member-profile-details.mb-4 .card.shadow {
        height: 320px;
    }
}

@media only screen and (max-width: 425px) {
    .member-profile-details.mb-4 .card.shadow {
        height: 360px;
    }
}

@media only screen and (max-width: 320px) {
    a.navbar-brand img {
        min-width: 185px;
    }
}